<header class="w-full">
    <!-- Fundo com imagem -->
    <div 
        class="
            w-full 
            bg-cover 
            bg-center 
            bg-no-repeat 
            relative
        "
        style="background-image: url('../images/capa.png');"
    >
        <!-- Camada escura opcional (para contraste) -->
        <!-- <div class="bg-black/20 w-full h-full"> -->

            <!-- Conteúdo interno -->
            <div 
                class="
                    max-w-7xl 
                    mx-auto 
                    px-4 
                    sm:px-6 
                    lg:px-8 
                    py-6 
                    sm:py-8 
                    md:py-10 
                    flex 
                    items-center
                "
            >
                <!-- LOGO -->
                <div 
                    class="flex items-center cursor-pointer"
                    onclick="navigateTo('home')"
                >
                    <img 
                        src="../images/logo.png"
                        alt="Logo do Santuário"
                        class="
                            h-[60px]
                            sm:h-[80px]
                            md:h-[100px]
                            lg:h-[130px]
                            xl:h-[150px]
                            w-auto
                            drop-shadow-xl
                        "
                    >
                </div>

                <!-- Espaço futuro (menu, texto, etc.) -->
                <div class="flex-1"></div>

            </div>
        </div>
    </div>
</header>
