<nav class="main-nav">
    <div class="nav-container"><button class="mobile-menu-btn" onclick="toggleMobileMenu()">☰</button>
     <ul class="nav-menu" id="navMenu">
      <li class="nav-item"><a href="../index.html" class="nav-link">Home</a>
      <li class="nav-item"><a href="#" class="nav-link" >O Santuário</a>
       <ul class="dropdown-menu">
        <li><a href="../aba-santuario/historia.html" class="nav-link">História</a></li>
        <li><a href="../aba-santuario/padroeira.html" class="nav-link">A Padroeira</a></li>
        <li class="nav-item"><a href="#" class="nav-link" >Clero ▸</a>
         <ul class="dropdown-menu">
          <li><a href="../aba-santuario/paroco.html" class="nav-link">O Pároco</a></li>
          <li><a href="../aba-santuario/parocos_anteriores.html" class="nav-link" >Párocos Anteriores</a></li>
         </ul></li>
       </ul></li>
      <li class="nav-item"><a href="../aba-noticias/noticias.html" class="nav-link" >Notícias</a></li>
      <li class="nav-item"><a href="../aba-comunidades/comunidades.html" class="nav-link">Comunidades</a></li>
      <li class="nav-item"><a href="../aba-pastorais/pastorais_e_movimentos.html" class="nav-link">Pastorais e Movimentos</a>
       <ul class="dropdown-menu">
        <li class="nav-item"><a href="../aba-pastorais/pastorais_e_movimentos.html" class="nav-link">Pastorais ▸</a>
         <ul class="dropdown-menu">
          <li><a href="../aba-pastorais/pastoral_dizimo.html" class="nav-link" >Pastoral do Dízimo</a></li>
          <li><a href="../aba-pastorais/pascom.html" class="nav-link" >PASCOM</a></li>
         </ul></li>
        <li><a href="../aba-pastorais/grupo_shekinah.html" class="nav-link" >Grupo Shekinah</a></li>
        <li><a href="../aba-pastorais/terco_homens.html" class="nav-link">Terço dos Homens</a></li>
        <li><a href="../aba-pastorais/terço_filhas_maria.html" class="nav-link">Terço das Filhas de Maria</a></li>
        <li class="nav-item"><a href="../aba-pastorais/rcc.html" class="nav-link">RCC ▸</a>
         <ul class="dropdown-menu">
          <li><a href="../aba-pastorais/grupo_oracao.html" class="nav-link">Grupo de Oração</a></li>
          <li><a href="../aba-pastorais/rcc_grupo_jovens.html" class="nav-link">Grupo de Jovens</a></li>
         </ul></li>
       </ul></li>
      <li class="nav-item"><a href="../aba-galeria/galeria.html" class="nav-link">Galeria</a></li>
      <li class="nav-item"><a href="../aba-dizimo/dizimo.html" class="nav-link">Dízimo</a>
        <ul class="dropdown-menu">
          <li><a href="../aba-dizimo/venha_ser_dizimista.html" class="nav-link">Venha ser Dizimista</a></li>
          <li><a href="../aba-dizimo/dimensoes.html" class="nav-link">Dimensões do dízimo</a></li>          
         </ul>
      </li>
     </ul>
    </div>
 
 
 
   </nav>